
body{
font-family: 'Press Start 2P', cursive; 
  height:100%; 
  margin:0;
  padding:0;
  background: #444;
  color: #fff;
    }
h4{
	margin: 0px;
	padding: 0px;
}
.yo{
	width: 110px;
	height: 110px;
	float: left;
	margin: 7px 15px 5px 0px;
  }
.foto {
margin:18px 160px 0px 0px;
float: right;
width: 800px;
height:190px;
background: #8f885d;

  }
  p{
  	margin-top: 0px;
  }
.about{
margin: 20px 0px 0px 80px;
float: left;
width: 400px;
height:190px;
background: #8f885d;

  }
img{
	width:25px; 
	height:25px;
	background: #444;
	padding: 10px 0px 0px 30px;
	background: #8f885d;
}
div {
	display: inline;
	margin-top: 5px;
	float: left;
	padding-right:  50px;
	width: 1800px;
	text-align: center;
	border: 4px solid #fff;

}
b{
	padding-left: 80px;

}
.porcentaje{
	margin: 20px 0px 0px 10px;
	width: 1500px;
}
div h4{
	height: 50px;
	width: 1650px;
	background: #000;
}
	  	
.izquierda{
	margin-top: 30px;
	background: #8f885d;

	width: 1600px;
}	
.derecha{
	margin-top: 0;
	padding-top: 0px;
	background: #8f885d;

	width: 1600px;
}	
.porcentaje{
	background: #000;
	  }
.texto{
	margin-top: 10px;

}
.crepe, .bachiller{
margin: 0px;
	width: 1595px;
	height: 100px;
	
}
 .tic, .ingenieria, .diplomado{
    margin-top:5px;
	width: 1595px;
	height: 100px;
	
}
a img{
	width:25px; 
	height:25px;
	padding: 10px 0px 0px 30px;
	background: #8f885d;
	  }
h1{
	margin-left:  50px;
	margin-bottom: 0;
}
.encabezado{
	padding-left:  50px;
	padding-bottom:35px;
}

  /*
	}
}
}
}
header h1{
	width: 500px;
	margin-bottom: 2px;
}
h4{
	margin-top: 2px;
}

label {
    padding-right: 10px;
    font-size: 1rem;
}



.contenedor {
  display: flex;
  background-color: #555;
  column-count: 2;
}
.izquierda{
   background-color: #000;
  color: white;
  width: 1000px;
  height: 50px;
  margin: 20px;
  text-align: center;
  line-height: 25px;
  font-size: 20px;
}
.derecha{
 background-color: #ac2;
  color: white;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 45px;
  font-size: 10px;
}
*/