
body{
font-family: 'Press Start 2P', cursive; 
  height:100%; 
  margin:0;
  padding:0;
  background: #444;
    }

.yo{
	width: 160px;
	height: 160px;
	float: left;
	margin: 7px 20px 5px 0px;
  }
.foto {
	margin-left: 100px;
float: left;
width: 900px;
height:220px;
  }
  p{
  	margin-top: 0px;
  }
.about{
margin: 20px 0px 0px 40px;
float: left;
width: 400px;
height:190px;

  }
img{
	width:25px; 
	height:25px;
	background: #444;
	padding: 10px 0px 0px 30px;
}


 
	  	
	
  /*
}
}
header h1{
	width: 500px;
	margin-bottom: 2px;
}
h4{
	margin-top: 2px;
}

label {
    padding-right: 10px;
    font-size: 1rem;
}



.contenedor {
  display: flex;
  background-color: #555;
  column-count: 2;
}
.izquierda{
   background-color: #000;
  color: white;
  width: 1000px;
  height: 50px;
  margin: 20px;
  text-align: center;
  line-height: 25px;
  font-size: 20px;
}
.derecha{
 background-color: #ac2;
  color: white;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 45px;
  font-size: 10px;
}
*/